{:highlights [{:id #uuid "6506528d-5d7b-42dd-ae7d-7c32907ca78b",
               :page 7,
               :position {:bounding {:x1 0,
                                     :y1 334.4000015258789,
                                     :x2 565.8757446408272,
                                     :y2 584.1125259399414,
                                     :width 640,
                                     :height 828.2352941176471},
                          :rects ({:x1 0,
                                   :y1 334.4000015258789,
                                   :x2 0,
                                   :y2 353.60001373291016,
                                   :width 640,
                                   :height 828.2352941176471}
                                  {:x1 0,
                                   :y1 350.4000015258789,
                                   :x2 0,
                                   :y2 369.60001373291016,
                                   :width 640,
                                   :height 828.2352941176471}
                                  {:x1 0,
                                   :y1 366.4000015258789,
                                   :x2 0,
                                   :y2 385.60001373291016,
                                   :width 640,
                                   :height 828.2352941176471}
                                  {:x1 0,
                                   :y1 382.4000015258789,
                                   :x2 0,
                                   :y2 401.60001373291016,
                                   :width 640,
                                   :height 828.2352941176471}
                                  {:x1 0,
                                   :y1 398.4000015258789,
                                   :x2 0,
                                   :y2 417.60001373291016,
                                   :width 640,
                                   :height 828.2352941176471}
                                  {:x1 0,
                                   :y1 414.4000015258789,
                                   :x2 0,
                                   :y2 433.60001373291016,
                                   :width 640,
                                   :height 828.2352941176471}
                                  {:x1 0,
                                   :y1 430.4000015258789,
                                   :x2 0,
                                   :y2 449.60001373291016,
                                   :width 640,
                                   :height 828.2352941176471}
                                  {:x1 0,
                                   :y1 446.4000015258789,
                                   :x2 0,
                                   :y2 465.60001373291016,
                                   :width 640,
                                   :height 828.2352941176471}
                                  {:x1 0,
                                   :y1 462.4000015258789,
                                   :x2 0,
                                   :y2 481.60001373291016,
                                   :width 640,
                                   :height 828.2352941176471}
                                  {:x1 0,
                                   :y1 478.4000015258789,
                                   :x2 0,
                                   :y2 497.60001373291016,
                                   :width 640,
                                   :height 828.2352941176471}
                                  {:x1 89.72500306367874,
                                   :y1 486.8250198364258,
                                   :x2 565.8757446408272,
                                   :y2 497.2374954223633,
                                   :width 640,
                                   :height 828.2352941176471}
                                  {:x1 0,
                                   :y1 494.4000015258789,
                                   :x2 0,
                                   :y2 513.6000137329102,
                                   :width 640,
                                   :height 828.2352941176471}
                                  {:x1 74.10000306367874,
                                   :y1 499.3250198364258,
                                   :x2 563.4875000119209,
                                   :y2 509.7374954223633,
                                   :width 640,
                                   :height 828.2352941176471}
                                  {:x1 74.10000306367874,
                                   :y1 511.8375015258789,
                                   :x2 110.93750458955765,
                                   :y2 522.2500076293945,
                                   :width 640,
                                   :height 828.2352941176471}
                                  {:x1 288.4375122189522,
                                   :y1 544.5499954223633,
                                   :x2 326.2235229611397,
                                   :y2 554.9625015258789,
                                   :width 640,
                                   :height 828.2352941176471}
                                  {:x1 248.82500916719437,
                                   :y1 552.8375015258789,
                                   :x2 254.42500001192093,
                                   :y2 563.2500076293945,
                                   :width 640,
                                   :height 828.2352941176471}
                                  {:x1 290.7500122189522,
                                   :y1 552.8375015258789,
                                   :x2 296.3500183224678,
                                   :y2 563.2500076293945,
                                   :width 640,
                                   :height 828.2352941176471}
                                  {:x1 310.1374939084053,
                                   :y1 552.8375015258789,
                                   :x2 315.73750001192093,
                                   :y2 563.2500076293945,
                                   :width 640,
                                   :height 828.2352941176471}
                                  {:x1 336.5000122189522,
                                   :y1 552.8375015258789,
                                   :x2 349.2104614377022,
                                   :y2 563.2500076293945,
                                   :width 640,
                                   :height 828.2352941176471}
                                  {:x1 254.32500916719437,
                                   :y1 561.2000198364258,
                                   :x2 291.1625183224678,
                                   :y2 571.6125259399414,
                                   :width 640,
                                   :height 828.2352941176471}
                                  {:x1 315.6374939084053,
                                   :y1 561.2000198364258,
                                   :x2 336.86250001192093,
                                   :y2 571.6125259399414,
                                   :width 640,
                                   :height 828.2352941176471}
                                  {:x1 349.23750001192093,
                                   :y1 561.2000198364258,
                                   :x2 386.0749939084053,
                                   :y2 571.6125259399414,
                                   :width 640,
                                   :height 828.2352941176471}
                                  {:x1 299.1250122189522,
                                   :y1 567.5750198364258,
                                   :x2 304.7250183224678,
                                   :y2 577.9875259399414,
                                   :width 640,
                                   :height 828.2352941176471}
                                  {:x1 254.32500916719437,
                                   :y1 573.6999893188477,
                                   :x2 291.1625183224678,
                                   :y2 584.1125259399414,
                                   :width 640,
                                   :height 828.2352941176471}
                                  {:x1 315.6374939084053,
                                   :y1 573.6999893188477,
                                   :x2 336.86250001192093,
                                   :y2 584.1125259399414,
                                   :width 640,
                                   :height 828.2352941176471}
                                  {:x1 349.23750001192093,
                                   :y1 573.6999893188477,
                                   :x2 386.0749939084053,
                                   :y2 584.1125259399414,
                                   :width 640,
                                   :height 828.2352941176471}),
                          :page 7},
               :content {:text "所有一般的长矩阵 A 都有相同的行秩和列秩. 这个分解是理解这一定理最直观的方法. C 由 A 的线性无关列组成, R 为 A 的行阶梯形矩阵 (消除了零行). A = CR 将 A 化简为 r 的线性无关列 C 和线性无关行 R的乘积. A = CR[1 2 32 3 5]=[1 22 3] [1 0 10 1 1"},
               :properties {:color "yellow"}}
              {:id #uuid "6506529a-6040-4e25-89ab-3684f91a3667",
               :page 7,
               :position {:bounding {:x1 383.80000001192093,
                                     :y1 429,
                                     :x2 468.80000001192093,
                                     :y2 452,
                                     :width 640,
                                     :height 828.2352941176471},
                          :rects (),
                          :page 7},
               :content {:text "[:span]", :image 1694913178408},
               :properties {:color "yellow"}}
              {:id #uuid "6506529c-12e8-446b-8bb9-7eaf4adcc370",
               :page 7,
               :position {:bounding {:x1 0,
                                     :y1 398.4000015258789,
                                     :x2 304.7250183224678,
                                     :y2 584.1125259399414,
                                     :width 640,
                                     :height 828.2352941176471},
                          :rects ({:x1 0,
                                   :y1 398.4000015258789,
                                   :x2 0,
                                   :y2 417.60001373291016,
                                   :width 640,
                                   :height 828.2352941176471}
                                  {:x1 0,
                                   :y1 414.4000015258789,
                                   :x2 0,
                                   :y2 433.60001373291016,
                                   :width 640,
                                   :height 828.2352941176471}
                                  {:x1 0,
                                   :y1 430.4000015258789,
                                   :x2 0,
                                   :y2 449.60001373291016,
                                   :width 640,
                                   :height 828.2352941176471}
                                  {:x1 290.7500122189522,
                                   :y1 552.8375015258789,
                                   :x2 296.3500183224678,
                                   :y2 563.2500076293945,
                                   :width 640,
                                   :height 828.2352941176471}
                                  {:x1 299.1250122189522,
                                   :y1 567.5750198364258,
                                   :x2 304.7250183224678,
                                   :y2 577.9875259399414,
                                   :width 640,
                                   :height 828.2352941176471}
                                  {:x1 254.32500916719437,
                                   :y1 573.6999893188477,
                                   :x2 291.1625183224678,
                                   :y2 584.1125259399414,
                                   :width 640,
                                   :height 828.2352941176471}),
                          :page 7},
               :content {:text "2 3 5]="},
               :properties {:color "yellow"}}],
 :extra {:page 7}}
